.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom: solid 1px rgb(228, 228, 228);
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}

.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
}

.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    margin-right: 10px;
    margin-left: -1px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    border: none;
}

.search-icon{
    height: 25px;
    margin-top: 4px;
}

.voice-search-icon{
    height: 24px;
    margin-top: 4px;
}

.search-bar{
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}

.upload-icon,
.notifications-icon,
.youtube-apps-icon{
    height: 24px;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    background-color: rgb(200, 0,0);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    /* padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px; */
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: absolute;
    top: -2px;
    right: -5px;
    text-align: center;
}